body {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: rgba(192, 40, 40, 0.144);
}

main {
    font-size: 14pt;
    padding: 0px 20px 0px 20px;
    background-color: rgba(172, 235, 214, 0.329);
    border: 2px solid blue;
}

h1 {
    font-size: 32px;
}

h1, h2, h3 {
    margin-top: 1.5em;
    font-family: sans-serif;
}

ul, ol {
    padding-left: 20px;
}

table, tr, th, td {
    border: 1px solid black;
}

figure {
    width: 13em;
    float: right;
}

figure > img {
    width: 100%
}

figcaption {
    font-style: italic;
    font-weight: 400;
}
